.userName{
 font-size: 20px;
 margin-left: 200px;
 margin-bottom: 8px;
}
.Name{
    font-size: 20px;
    margin-left: 200px;
    margin-bottom: 8px;
   }
.ID{
    font-size: 20px;
    margin-left: 200px;
    margin-bottom: 8px;
}
.Discount{
    font-size: 20px;
    margin-left: 200px;
    margin-bottom: 8px;
}
.Stars{
    font-size: 20px;
    margin-left: 200px;
    margin-bottom: 8px;
}