.container {
    display: flex;
    height: 450px;
    margin-top: 0px;
    justify-content: space-between;
    margin-left: -100px;
}
#heading {
    display: flex;
    justify-content: center;
    padding-top: 75px;
    font-size: 30px;
    font-weight: bold;
}
#bubly {
    transform: scale(0.6);
}
#pepsi {
    transform: scale(0.8);
}
.text {
    display: flex;
    justify-content: space-between;
    margin-left: 170px;
    margin-right: 270px;
}
#caption1 {
    display: flex;
    justify-content: center;
    text-align: center; 
    font-size: 30px;
    font-weight: bold;
}